.aside .logo a::after{
  border-bottom: 7px solid #fafb0f;
  border-right: 7px solid #fafb0f;
}

.aside .logo a::before{
  border-top: 7px solid #fafb0f;
  border-left: 7px solid #fafb0f;
}
.aside .nav li a:hover,body.dark .aside .nav li a:hover,body.dark .aside .nav li a.active,.contact .contact-info-item .icon .fa ,.skill .skill-item .skill-item-inner .icon .fab,.project .project-item-inner .project-info .project-tag a,.skill .skill-item .skill-item-inner .icon .fa,
.aside .nav li a.active,.about .about-content .about-text h3 span{
  color:#fafb0f; 
}

.aside .nav-toggler span ,.project .project-item-inner .project-img .project-link,.aside .nav-toggler span::before ,.btn,
.skill .skill-item .skill-item-inner:hover .icon, 
.aside .nav-toggler span::after,.home-sec .intro .social-link a{
  background-color:#fafb0f; 
}
.section-title h2::after,.section-title h2::before{
  background-color: #fafb0f;
  border-bottom: #fafb0f;

}