.aside .logo a::after{
  border-bottom: 7px solid rgb(123, 199, 8);
  border-right: 7px solid rgb(123, 199, 8);
}

.aside .logo a::before{
  border-top: 7px solid rgb(123, 199, 8);
  border-left: 7px solid rgb(123, 199, 8);
}
.aside .nav li a:hover,body.dark .aside .nav li a:hover,.contact .contact-info-item .icon .fa ,.skill .skill-item .skill-item-inner .icon .fab,.project .project-item-inner .project-info .project-tag a,.skill .skill-item .skill-item-inner .icon .fa,
.aside .nav li a.active, body.dark .aside .nav li a.active,.about .about-content .about-text h3 span{
  color:rgb(123, 199, 8); 
}

.aside .nav-toggler span ,.project .project-item-inner .project-img .project-link,.aside .nav-toggler span::before ,.btn,
.skill .skill-item .skill-item-inner:hover .icon, 
.aside .nav-toggler span::after,.home-sec .intro .social-link a{
  background-color:rgb(123, 199, 8); 
}
.section-title h2::after,.section-title h2::before{
  background-color: rgb(123, 199, 8);
  border-bottom: 7px solid rgb(123, 199, 8);

}